dataset/
experiments/demo/
src/detection/data_object/
src/detection/faster_rcnn_inception_v2_coco_2018_01_28/
src/feature/heads/
src/feature/nets/
experiments/
*.avi
*.mat
UI/data/
*.driveupload
src/external/mexopencv330/